
/*
     FILE ARCHIVED ON 11:09:09 Aug 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:38:01 May 14, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 149.379
  exclusion.robots: 0.103
  exclusion.robots.policy: 0.095
  cdx.remote: 0.062
  esindex: 0.008
  LoadShardBlock: 105.847 (3)
  PetaboxLoader3.datanode: 82.713 (4)
  CDXLines.iter: 21.7 (3)
  load_resource: 148.9
  PetaboxLoader3.resolve: 53.055
*/